:root {
  --white: #efefef;
}

body {
  background-color: #80FF80;
  background-image: url(https://www.gamegrin.com/assets/game/trackmania-2020/screenshots/_resampled/SetWidth1920-trackmania-2020-screenshots-11.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:0;
}

.image-wrap{
    background: rgba(248, 248, 255, 0.3);
    overflow: hidden; /* needs scroll for local version */
    height: 100%;
    z-index: 2;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #fafafa;
  padding: 20px 100px;
  box-shadow: 2px 2px 2px #b3b3b3;
}

/* Style the header links */
.header a {
  margin: 8px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  color: #232323;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 4px;
  font-family: 'Rubik';
  font-size: 18px;
  font-weight: bold;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-weight: bold;
  font-family: 'Rubik';
  font-size: 25px;
  color: #232323;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.button {
  position: relative;
  margin-left: 20px;
  background-color: #6edc45;
  border: none;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Rubik';
  color: #FFFFFF;
  letter-spacing: 1px;
  padding: 20px;
  width: 250x;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #b3b3b3;
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.button:disabled {
  background-color: #909090;
  color:#fff;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

p {
  float: left;
  margin-left: 20px;
  text-align: left;
  font-family: 'Rubik';
  font-size: 17px;
  color: #232323;
  font-weight: bold;
  /*padding-left: 47%;*/
}

#testtt p {
  padding-top: 30px important!;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Rubik';
  color: var(--white);
  padding-left: 47%;
}

h1 {
  text-align: center;
  font-family: 'Rubik';
  font-size: 17px;
  color: #232323;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-family: 'Rubik';
  font-size: 12px;
  color: #666666;
}

.grid-container {
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "one two three four five";
  grid-column-gap: 85px;
}

.one {
  grid-area: one;
  background-color: var(--white);
  border-radius: 30px;
  max-width: 300px;
  box-shadow: 2px 2px 2px grey;
  border: 1px solid grey;
}

.two {
  grid-area: two;
  background-color: var(--white);
  border-radius: 30px; /* was 12px */
  max-width: 300px;
  box-shadow: 2px 2px 2px grey;
  border: 1px solid grey;
}

.three {
  grid-area: three;
  background-color: var(--white);
  border-radius: 30px;
  max-width: 300px;
  box-shadow: 2px 2px 2px grey;
  border: 1px solid grey;
}

.four {
  grid-area: four;
  background-color: var(--white);
  border-radius: 30px;
  max-width: 300px;
  box-shadow: 2px 2px 2px grey;
  border: 1px solid grey;
}

.five {
  grid-area: five;
  background-color: var(--white);
  border-radius: 30px;
  max-width: 300px;
  box-shadow: 2px 2px 2px grey;
  border: 1px solid grey;
}

td, th {
  margin: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
   border-radius: 30px;
}

/*
Something like this instead of HTML hardcoded
For last child class name
For last child class price
tr:last-child {
  border-radius: 0px 0px 0px 30px;
}
*/

/*
.testt {
  border-radius: 30px;
  background-color: blue;
}
*/

img {
    position: relative;
    padding: 20px;
    margin-left: 30px;
}

/* Progress bar with CSS and JS */
.progress {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: var(--white);
    border-radius: 20px;
    height: 50px;
    width: auto;
    box-shadow: 2px 2px 2px grey;
}

/* Button-like checkbox attempts */
#ck-button {
    margin:4px;
    margin-right:20px;
    background-color: #6edc45;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Rubik';
    color: #FFFFFF;
    border-radius:6px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:right;
    /* testing */
    transition: .2s;
}

#ck-button:hover {
    background-color: #4CAF50 !important;
}

#ck-button label {
    float:left;
    width:6.0em;
}

#ck-button label span {
    text-align:center;
    padding: 20px;
    display:block;
    cursor: pointer;
}

#ck-button label input {
    position:fixed; /* was absolute, but that causes site to jump */
    top:-20px;
}

#ck-button input:checked + span {
    background-color:#4A7023;
    color:#fff;
}

#ck-button input:disabled + span {
    background-color: #909090;
    color:#fff;
}

/* Prograss bar */
.progress-bar-striped {
	overflow: hidden;
	height: 80px;
    margin-top: 60px;
	margin-bottom: 60px;
    margin-left: 75px; /* placeholder margins */
    margin-right: 75px; /* placeholder margins */
	background-color: #dddddd;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2px grey;
    border: 1px solid grey;
}

.progress-bar-striped > div {
	background-image: linear-gradient(45deg, rgba(135, 222, 74, 1) 25%, transparent 25%, transparent 50%, rgba(135, 222, 74, 1) 50%, rgba(135, 222, 74, 1) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
	width: 0%;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width 3s ease;
	-moz-transition: width 3s ease;
	-o-transition: width 3s ease;
	transition: width 3s ease;
	animation: progress-bar-stripes 2s linear infinite;
	background-color: #6edc45;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Rubik';
    color: var(--white);
    padding-top: 30px;
}

.progress-bar-striped p{
	margin: 0;
}

@keyframes progress-bar-stripes {
	0% { background-position: 40px 0;}
	100% {background-position: 0 0;}
}

input[type=text] {
  height: 65px;
  float: center;
  box-sizing: border-box;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Rubik';
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 40%;
  text-align: center;
  width: 300px;
}

.buttonSubmit {
  position: relative;
  background-color: #6edc45;
  border: none;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Rubik';
  color: #FFFFFF;
  letter-spacing: 1px;
  padding: 30px;
  width: 250x;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #b3b3b3;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonSubmit:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.buttonSubmit:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.buttonSubmit:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.submitBox {
  background-color: var(--white);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 30px;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px grey;
}









