<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Team</title>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/manageStyles.css}" />
</head>
<body>

<div class="image-wrap">
    <div class="header">
        <a href="#default" class="logo">FANTASY TM</a>
        <div class="header-right">
            <a href="#about">Rankings</a>
            <a href="#contact">Register</a>
            <a href="#about">Login</a>
            <button class="button" disabled>CREATE YOUR TEAM</button>
        </div>
    </div>

    <!-- TEAM LINEUP -->
    <div class="playerCards">
        <div class="playerCard" th:each="player : ${userPlayers}">
            <h2 th:text="${player.name}">PLAYER NAME</h2>
            <h3 th:text="${player.position}">ROLE</h3>
            <img th:src="@{/graphics/{image}(image=${player.position.banner})}">
            <h2 th:text="${player.points}" style="margin-bottom: 20px;">POINTS</h2>
        </div>
    </div>

    <!-- WIP ON MAKING THIS FULLY FUNCTIONAL -->
    <div class="grid-container">

        <div class="teammanage">
            <div class="gridHeader">
                <h1> WALLET </h1>
            </div>

            <div class="grid-container2">

                <div class="activeBuffGrid">
                    <div class="card">
                        <h2>TRIPLE CAPTAIN</h2>
                        <h3>Your captain will score 1.5x</h3>
                        <div class="img"></div>
                        <button class="buy-button" style="margin-bottom: 25px;" disabled>ACTIVATED</button>
                    </div>
                </div>

                <!-- WALLET AND TEAM INFORMATION, NEEDS TO BE PULLED FROM THE DATABASE -->
                <div class="walletInfoGrid">
                    <div class="playerList">
                        <table class="playerTable" style="width:100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th scope="col"><p></p></th>
                                    <th scope="col"><p></p></th>
                                    <th scope="col"><p></p></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="icon"><img th:src="@{/graphics/iconOwner.png}"></img></td>
                                    <td class="firstItem"><p>Owner</p></td>
                                    <td class="secondItem"><p th:text="${userInformation.username}">OWNER</p></td>
                                </tr>
                                <tr>
                                    <td class="icon"><img th:src="@{/graphics/iconTeamName.png}"></img></td>
                                    <td class="firstItem"><p>Team name</p></td>
                                    <td class="secondItem"><p th:text="${userTeam.name}">TEAM NAME</p></td>
                                </tr>
                                <tr>
                                    <!-- IMPLEMENT FUNCTIONAL TEAM RANKINGS -->
                                    <td class="icon"><img th:src="@{/graphics/iconRank.png}"></img></td>
                                    <td class="firstItem"><p>Team rank</p></td>
                                    <td class="secondItem"><p>3</p></td>
                                </tr>
                                <tr>
                                    <td class="icon"><img th:src="@{/graphics/iconPoints.png}"></img></td>
                                    <td class="firstItem"><p>Points earned</p></td>
                                    <td class="secondItem"><p th:text="${userTeam.points}">POINTS EARNED</p></td>
                                </tr>
                                <tr>
                                    <td class="icon"><img th:src="@{/graphics/iconTeamCost.png}"></img></td>
                                    <td class="firstItem"><p>Total team cost</p></td>
                                    <td class="secondItem"><p th:text="${userTeam.cost}">TOTAL TEAM COST</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- BUFF ACTIVATION -->
        <div class="tokens">
            <div class="gridHeader">
                <h1>BUFFS</h1>
            </div>

            <div class="cards">
                    <div class="card" th:each="buffWrapper : ${availableBuffs}">
                        <form method="POST" th:action="@{/manage}" th:object="${buff}">
                            <h2 th:text="${buffWrapper.buffName}">BUFF NAME</h2>
                            <h3 th:text="${buffWrapper.buffDescription}">>Buff description</h3>
                            <div class="img"> <img th:src="@{/graphics/{image}(image=${buffWrapper.buff.icon})}" style="margin-top: 36px;"> </div>
                            <input name="buff"  type="hidden" th:value="${buffWrapper.buff}"/>
                            <button class="buy-button" style="margin-bottom: 25px;" type="submit" value="ACTIVATE">ACTIVATE</button>
                        </form>
                    </div>
            </div>

        </div>

        <!-- RANKINGS ZONE, NEEDS TO BE PULLED FROM THE DATABASE -->
        <div class="rankings">
            <div class="playerList">
                <table class="playerTable" style="width:100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col"><p>Position</p></th>
                        <th scope="col"><p>Owner</p></th>
                        <th scope="col"><p>Points</p></th>
                        <th scope="col"><p>Team name</p></th>
                        <th scope="col"><p>Active buff</p></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="position"><p>1</p></td>
                        <td class="name"><p>Samantha</p></td>
                        <td class="points"><p>859</p></td>
                        <td class="points"><p>Test Team</p></td>
                        <td><button class="buy-button" disabled>QUAD UNDER</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


</body>
</html>