<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Terminal</title>
</head>
<body>
<h1>Enter values</h1>
    <form method="POST" th:action="@{/terminal}" th:object="${form}">
        <table style="width:10%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Org</th>
                    <th>Cost</th>
                    <th>Age</th>
                    <th>Points</th>
                    <th>Recent step points</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="player, itemStat : ${form.players}">
                    <td><input th:field="*{players[__${itemStat.index}__].id}"/></td>
                    <td><input th:field="*{players[__${itemStat.index}__].name}"/></td>
                    <td><input th:field="*{players[__${itemStat.index}__].org}"/></td>
                    <td><input th:field="*{players[__${itemStat.index}__].cost}"/></td>
                    <td><input th:field="*{players[__${itemStat.index}__].age}"/></td>
                    <td><input th:field="*{players[__${itemStat.index}__].points}"/></td>
                    <td><input th:field="*{players[__${itemStat.index}__].recentStepPoints}"></td>
                    <td><input th:field="*{players[__${itemStat.index}__].position}" th:value="${player.getPosition()}" /></td>
                </tr>
            </tbody>
            <input type="submit" name="action" value="updateBasedOnAll"/>
            <input type="submit" name="action" value="updateBasedOnCaptains"/>
        </table>
</form>